menu "Insulin Delivery Module Configuration"

    config INS_RATE_RETREIVE_TASK_INTERVAL
        int "Insulin Rate Retreive Data Task Loop Interval"
        default 10000
        range 0 20000
        help
            Interval (in ms) between Insulin Rate Retreive Data task loops 
            
    config INS_RATE_RETREIVE_TASK_HEAP
        int "Insulin Rate Retreive Data Task Heap Memory Allocation (kb)"
        default 8
        range 0 128
        help
            KB of Heap RAM to allocate for the Insulin Rate Retreive Data task

    config INS_RATE_RETREIVE_TASK_PRIORITY
        int "Insulin Rate Retreive Data Task Priority"
        default 5
        range 0 16
        help
            Task priority for the Insulin Rate Retreive Data task

    # config INS_RATE_GIVE_INSULIN_TASK_INTERVAL
    #     int "Insulin Rate Give Insulin Task Loop Interval"
    #     default 
    #     range 0 20000
    #     help
    #         Interval (in ms) between Insulin Rate Give Insulin task loops 
            
    config INS_RATE_GIVE_INSULIN_TASK_HEAP
        int "Insulin Rate Give Insulin Task Heap Memory Allocation (kb)"
        default 4
        range 0 128
        help
            KB of Heap RAM to allocate for the Insulin Rate Give Insulin task

    config INS_RATE_GIVE_INSULIN_TASK_PRIORITY
        int "Insulin Rate Give Insulin Task Priority"
        default 20
        range 0 21
        help
            Task priority for the Insulin Rate Give Insulin task

    config INS_RATE_DELIVER_BOLUS_TASK_INTERVAL
        int "Insulin Rate Deliver Bolus Task Loop Interval"
        default 1000
        range 0 20000
        help
            Interval (in ms) between Insulin Rate Deliver Bolus task loops 
            
    config INS_RATE_DELIVER_BOLUS_TASK_HEAP
        int "Insulin Rate Deliver Bolus Task Heap Memory Allocation (kb)"
        default 4
        range 0 128
        help
            KB of Heap RAM to allocate for the Insulin Rate Deliver Bolus task

    config INS_RATE_DELIVER_BOLUS_TASK_PRIORITY
        int "Insulin Rate Deliver Bolus Task Priority"
        default 21
        range 0 16
        help
            Task priority for the Insulin Rate Deliver Bolus task

endmenu