menu "LED Module Configuration" 

    config LED_TASK_INTERVAL
        int "LED Handler Task Loop Interval"
        default 9500
        range 0 20000
        help
            Interval (in ms) between LED handler task loops 
            
    config LED_TASK_HEAP
        int "LED Handler Task Heap Memory Allocation (kb)"
        default 8
        range 0 128
        help
            KB of Heap RAM to allocate for the LED handler task

    config LED_TASK_PRIORITY
        int "LED Handler Task Priority"
        default 5
        range 0 16
        help
            Task priority for the LED handler task

    config LED_TASK_INTERVAL_NO_BASAL_RATE_WARNING
        int "LED Handler Task No BasalRate Warning Interval"
        default 10000
        range 0 20000
        help
            Interval (in ms) between LED handler task loops 
            
    config LED_TASK_HEAP_NO_BASAL_RATE_WARNING
        int "LED Handler Task No BasalRate Warning Heap Memory Allocation (kb)"
        default 2
        range 0 128
        help
            KB of Heap RAM to allocate for the LED handler task

    config LED_TASK_NO_BASAL_RATE_WARNING
        int "LED Handler Task No BasalRate Warning Priority"
        default 5
        range 0 16
        help
            Task priority for the LED handler task

endmenu
