menu "Insulin Pump Configuration"

    config BLUETOOTH_RX_TASK_INTERVAL
        int "Bluetooth Rx Task Loop Interval"
        default 200
        range 0 20000
        help
            Interval (in ms) between Bluetooth Rx task loops 
            
    config BLUETOOTH_RX_TASK_HEAP
        int "Bluetooth Rx Task Heap Memory Allocation (kb)"
        default 8
        range 0 128
        help
            KB of Heap RAM to allocate for the Bluetooth Rx Data task

    config BLUETOOTH_RX_TASK_PRIORITY
        int "Bluetooth Rx Task Priority"
        default 10
        range 0 16
        help
            Task priority for the Bluetooth Rx Data task

    config BLUETOOTH_PROCESS_TASK_INTERVAL
        int "Bluetooth Process Task Loop Interval"
        default 200
        range 0 20000
        help
            Interval (in ms) between Bluetooth Process task loops 
            
    config BLUETOOTH_PROCESS_TASK_HEAP
        int "Bluetooth Process Task Heap Memory Allocation (kb)"
        default 8
        range 0 128
        help
            KB of Heap RAM to allocate for the Bluetooth Process Data task

    config BLUETOOTH_PROCESS_TASK_PRIORITY
        int "Bluetooth Process Task Priority"
        default 10
        range 0 16
        help
            Task priority for the Bluetooth Process Data task

endmenu